{% extends 'admin/base_add.html' %}

{% block content %}
    <article class="cl pd-20">
        <form method="post" class="form form-horizontal" id="form-member-add" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3" for="movie_id">轮播电影</label>
                <div class="formControls col-xs-8 col-sm-9">
                    {{ form.movie_id }}
                    <p style="height: 10px;color: red;">
                        {{ get_flashed_messages()[0] }}
                    </p>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">{{ form.logo.label }}</label>
                <div class="formControls col-xs-8 col-sm-9"> <span class="btn-upload form-group">
				<input class="input-text upload-url" type="text" name="uploadfile" id="uploadfile" readonly nullmsg="请添加图片！" style="width:200px">
				<a href="javascript:;" class="btn btn-primary radius upload-btn"><i class="Hui-iconfont">&#xe642;</i> 浏览文件</a>
				{{ form.logo }}
				</span>
                    <br>
                    <img src="{{ url_for('static', filename='media/banner_logo/') + banner.logo }}" height="130" style="margin: 10px 0;">
                </div>
            </div>
            <div class="row cl">
                <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                    {{ form.submit }}
                </div>
            </div>
        </form>
    </article>
{% endblock %}
