{% extends 'admin/base_add.html' %}

{% block content %}
    <article class="cl pd-20">
        <form action="" method="post" class="form form-horizontal" id="form-member-add" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">{{ form.title.label }}</label>
                <div class="formControls col-xs-8 col-sm-9">
                    {{ form.title(value=movie.title) }}
                    <p style="height: 10px; color: red;">
                        {% for err in form.title.errors %}
                            {{ err }}
                        {% endfor %}
                    {{ get_flashed_messages()[0] }}
                    </p>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">{{ form.star.label }}</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <span class="select-box">
                        {{ form.star }}
				    </span>
                    <p style="height: 10px; color: red;">
                        {% for err in form.star.errors %}
                            {{ err }}
                        {% endfor %}
                    </p>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">{{ form.tag_id.label }}</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <span class="select-box">
                        {{ form.tag_id }}
				    </span>
                    <p style="height: 10px; color: red;">
                        {% for err in form.tag_id.errors %}
                            {{ err }}
                        {% endfor %}
                    </p>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">{{ form.area.label }}</label>
                <div class="formControls col-xs-8 col-sm-9">
                    {{ form.area(value=movie.area) }}
                    <p style="height: 10px; color: red;">
                        {% for err in form.area.errors %}
                            {{ err }}
                        {% endfor %}
                    </p>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">{{ form.length.label }}</label>
                <div class="formControls col-xs-8 col-sm-9">
                    {{ form.length(value=movie.length) }}
                    <p style="height: 10px; color: red;">
                        {% for err in form.length.errors %}
                            {{ err }}
                        {% endfor %}
                    </p>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">{{ form.release_time.label }}</label>
                <div class="formControls col-xs-8 col-sm-9">
                    {{ form.release_time(value=movie.release_time) }}
                    <p style="height: 10px; color: red;">
                        {% for err in form.release_time.errors %}
                            {{ err }}
                        {% endfor %}
                    </p>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">{{ form.logo.label }}</label>
                <div class="formControls col-xs-8 col-sm-9"> <span class="btn-upload form-group">
				<input class="input-text upload-url" type="text" name="uploadfile" id="uploadfile" readonly
                       nullmsg="请添加图片！" style="width:200px">
				<a href="javascript:;" class="btn btn-primary radius upload-btn"><i class="Hui-iconfont">&#xe642;</i> 浏览文件</a>
				<input class="input-file" id="logo" name="logo" type="file">

				</span>
                    <p style="height: 10px; color: red;">
                        {% for err in form.logo.errors %}
                            {{ err }}
                        {% endfor %}
                    </p>
                    <img src="{{ url_for('static', filename='media/movie_logo/') + movie.logo }}" height="130" style="margin: 10px 0;">
                </div>

            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">{{ form.url.label }}</label>
                <div class="formControls col-xs-8 col-sm-9"> <span class="btn-upload form-group">
				<input class="input-text upload-url" type="text" name="uploadfile" id="uploadfile" readonly nullmsg="请添加视频！" style="width:200px">
				<a href="javascript:;" class="btn btn-primary radius upload-btn"><i class="Hui-iconfont">&#xe642;</i> 浏览文件</a>
				<input class="input-file" id="url" name="url" type="file">
				</span>
                    <p style="height: 10px; color: red;">
                        {% for err in form.url.errors %}
                            {{ err }}
                        {% endfor %}
                    </p>
                    <video src="{{ url_for('static', filename='media/movie_url/'+movie.url) }}" controls="controls" height="130" style="margin: 10px 0;"></video>
                </div>

            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">{{ form.info.label }}</label>
                <div class="formControls col-xs-8 col-sm-9">
                    {{ form.info }}
                </div>
                <p style="height: 10px; color: red;">
                    {% for err in form.info.errors %}
                        {{ err }}
                    {% endfor %}
                </p>
            </div>
            <div class="row cl">
                <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                    {{ form.submit }}
                </div>
            </div>
        </form>
    </article>
{% endblock %}
